
:host ::ng-deep {
  .p-panelmenu {
    width: 245px;
    .p-panelmenu-header-link {
      padding: 0.5rem;
      font-weight: 500;
    }
  }

  .activeLink {
    background-color: #f5f5f5;
    color: #000;
    font-weight: 500;
    border-radius: 10px;
  }
}
