<p-menu [model]="menuItems" class="flex justify-center w-full !rounded-3xl m-2">
  <ng-template #start class="!rounded-3xl !p-0">
    <img
      ngSrc="../../../../../assets/logoSmall.jpeg"
      height="329"
      width="1024"
      alt="ship master logo"
      class="rounded-t-md"
      priority
    />
  </ng-template>
  <ng-template #submenuheader let-category>
    <span
      class="text-primary font-bold"
      [ngClass]="category.routerLink ? 'cursor-pointer' : ''"
      [routerLink]="category.routerLink"
      >{{ category.label | translate }}</span
    >
  </ng-template>
  <ng-template #item let-item>
    <a
      pRipple
      class="flex items-center p-menu-item-link"
      [routerLink]="item.routerLink"
      [queryParams]="item.queryParams"
      [routerLinkActive]="'bg-primary !text-white'"
    >
      <span [class]="item.icon"></span>
      <span class="ml-2">{{ item.label | translate }}</span>
      @if (item.badge) {
      <p-badge class="ml-auto" [value]="item.badge" />
      }
    </a>
  </ng-template>
</p-menu>
