@if (!isLoading) {
<!-- company information -->
<section class="relative pt-24">
  <img
    [src]="totals.cover_img || ''"
    alt="cover-image"
    class="w-full absolute top-0 left-0 z-0 h-60 object-cover"
  />

  <div class="md:px-8">
    <div
      class="flex sm:justify-start relative z-10 mb-5"
    >
      <img
        src="{{ totals.logo_img || '' }}"
        alt="user-avatar-image"
        class="border-4 border-solid border-secondary rounded-full object-cover w-40 h-40"
      />
    </div>
    <div
      class="flex flex-col sm:flex-row max-sm:gap-5 sm:justify-between mb-5"
    >
      <div class="block">
        <h3
          class="font-manrope font-bold text-2xl text-gray-700 mb-1 max-sm:text-center"
        >
          Welcome {{ securityService.userType.toUpperCase() }}
        </h3>
        <p class="font-normal text-xl leading-7 text-gray-500 text-center">
          {{ securityService.userFullName }}
        </p>
      </div>
    </div>
  </div>

  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="rounded-2xl bg-gray-50 flex flex-col items-center justify-center gap-16 lg:flex-row lg:gap-32"
    >
      <div class="grid gap-16 sm:grid-cols-4">
        <div class="block rounded bg-white shadow-md p-6">
          <div class="flex items-center justify-center mb-3">
            <span class="text-4xl text-primary font-bold material-icons">
              description
            </span>
          </div>
          <span class="text-2xl text-center text-primary font-bold block p-3">
            {{ totals.total_number_of_invoices }}
          </span>
          <span class="text-gray-900 text-center block">
            {{ "total_number_of_invoices" | translate }}
          </span>
        </div>
        @if(userIsAdmin==='Admin'){
        <div class="block rounded bg-white shadow-md p-6">
          <div class="flex items-center justify-center mb-3">
            <span class="text-4xl text-primary font-bold material-icons">
              person
            </span>
          </div>
          <span class="text-2xl text-center text-primary font-bold block p-3">
            {{ totals.total_number_of_customers }}
          </span>
          <span class="text-gray-900 text-center block">
            {{ "total_number_of_customers" | translate }}
          </span>
        </div>

        <div class="block rounded bg-white shadow-md p-6">
          <div class="flex items-center justify-center mb-3">
            <span class="text-4xl text-primary font-bold material-icons">
              store
            </span>
          </div>
          <span class="text-2xl text-center text-primary font-bold block p-3">
            {{ totals.total_number_of_suppliers }}
          </span>
          <span class="text-gray-900 text-center block">
            {{ "total_number_of_suppliers" | translate }}
          </span>
        </div>

        <div class="block rounded bg-white shadow-md p-6">
          <div class="flex items-center justify-center mb-3">
            <span class="text-4xl text-primary font-bold material-icons">
              local_shipping
            </span>
          </div>
          <span class="text-2xl text-center text-primary font-bold block p-3">
            {{ totals.total_number_of_shipments }}
          </span>
          <span class="text-gray-900 text-center block">
            {{ "total_number_of_shipments" | translate }}
          </span>
        </div>
        } @if(userIsAdmin==='Customer'){
        <div class="block rounded bg-white shadow-md p-6">
          <div class="flex items-center justify-center mb-3">
            <span class="text-4xl text-primary font-bold material-icons">
              money
            </span>
          </div>
          <span class="text-2xl text-center text-primary font-bold block p-3">
            {{ totals.customer_invoices_amount }}
          </span>
          <span class="text-gray-900 text-center block">
            {{ "customer_invoices_amount" | translate }}
          </span>
        </div>
        }
      </div>
    </div>
  </div>
</section>
}@else {
<div class="card">
  <div
    class="rounded border border-surface-200 dark:border-surface-700 p-6 bg-surface-0 dark:bg-surface-900"
  >
    <div class="flex mb-4">
      <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
      <div>
        <p-skeleton width="10rem" styleClass="mb-2" />
        <p-skeleton width="5rem" styleClass="mb-2" />
        <p-skeleton height=".5rem" />
      </div>
    </div>
    <p-skeleton width="100%" height="150px" />
    <div class="flex justify-between mt-4">
      <p-skeleton width="4rem" height="2rem" />
      <p-skeleton width="4rem" height="2rem" />
    </div>
  </div>
</div>
}
