<!-- company information -->
<section class="relative pt-40 pb-24">
  <img
    src="https://pagedone.io/asset/uploads/1705473908.png"
    alt="cover-image"
    class="w-full absolute top-0 left-0 z-0 h-60 object-cover"
  />
  <div class="w-full max-w-7xl mx-auto px-6 md:px-8">
    <div
      class="flex items-center justify-center sm:justify-start relative z-10 mb-5"
    >
      <img
        src="https://pagedone.io/asset/uploads/1705471668.png"
        alt="user-avatar-image"
        class="border-4 border-solid border-secondary rounded-full object-cover"
      />
    </div>
    <div
      class="flex items-center justify-center flex-col sm:flex-row max-sm:gap-5 sm:justify-between mb-5"
    >
      <div class="block">
        <h3
          class="font-manrope font-bold text-2xl text-gray-700 mb-1 max-sm:text-center"
        >
          Welcome {{ securityService.userType.toUpperCase() }}
        </h3>
        <p class="font-normal text-xl leading-7 text-gray-500 text-center">
          {{ securityService.userFullName }}
        </p>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div
      class="rounded-2xl py-10 bg-gray-50 flex flex-col items-center justify-center gap-16 lg:flex-row lg:gap-32"
    >
      <div class="w-full lg:w-4/5 grid gap-16 lg:grid-cols-4 sm:grid-cols-2">
        <div class="block rounded-2xl bg-white shadow-md p-6">
          <div
            class="font-manrope font-bold text-4xl text-indigo-600 mb-3 text-center"
          >
            85+
          </div>
          <span class="text-gray-900 text-center block"
            >Total Number of Invoices
          </span>
        </div>
        <div class="block rounded-2xl bg-white shadow-md p-6">
          <div
            class="font-manrope font-bold text-4xl text-indigo-600 mb-3 text-center"
          >
            130+
          </div>
          <span class="text-gray-900 text-center block"
            >Total Number of Customers
          </span>
        </div>
        <div class="block rounded-2xl bg-white shadow-md p-6">
          <div
            class="font-manrope font-bold text-4xl text-indigo-600 mb-3 text-center"
          >
            70+
          </div>
          <span class="text-gray-900 text-center block"
            >Total Number of Suppliers
          </span>
        </div>
        <div class="block rounded-2xl bg-white shadow-md p-6">
          <div
            class="font-manrope font-bold text-4xl text-indigo-600 mb-3 text-center"
          >
            553+
          </div>
          <span class="text-gray-900 text-center block"
            >Total Number of Shipments
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
