<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="grid lg:grid-cols-2 grid-cols-1">
    <!-- Left Section: Image -->
    <div class="lg:mb-0 my-10">
      <div class="group w-full h-full sm:hidden md:block">
        <div class="relative h-full">
          <img
            ngSrc="../../../assets/logo.jpeg"
            width="1024"
            height="768"
            alt="shipMaster"
            priority
            class="w-full h-full lg:rounded-l-2xl rounded-2xl bg-blend-multiply bg-indigo-700 object-cover"
          />
        </div>
      </div>
    </div>
    <!-- Right Section: Router Outlet -->
    <div class="bg-gray-50 p-5 lg:p-11 lg:rounded-r-2xl rounded-2xl my-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
