<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-baseline flex-col lg:justify-between lg:flex-row">
    <div>
      <div class="font-medium text-3xl text-900">
        {{ "ITEMS_CATEGORY_LIST" | translate }}
      </div>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <p-toolbar class="my-4 w-full">
    <ng-template #center>
      <div class="flex flex-row align-baseline justify-around">
        <form [formGroup]="filterForm" class="grid grid-cols-1 gap-5">
          <p-floatlabel variant="on" class="col-span-1">
            <input pInputText id="item" formControlName="item" />
            <label for="item">{{ "item" | translate }}</label>
          </p-floatlabel>
        </form>
      </div>
    </ng-template>
    <ng-template #end>
      <button
        pButton
        pRipple
        [label]="'search' | translate"
        class="!bg-primary !border-primary me-2"
        (click)="applayFilter()"
      ></button>
      <button
        pButton
        pRipple
        [label]="'add' | translate"
        icon="pi pi-plus"
        class="!bg-secondary !border-secondary"
        [routerLink]="main_routes.itemsCategory"
      ></button>
    </ng-template>
  </p-toolbar>

  @if (!isLoading) {
  <p-table
    [value]="dataSource"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
    [sortMode]="'single'"
    [responsiveLayout]="'scroll'"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [first]="first"
    (onPage)="onPageChange($event)"
    [lazy]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (col of tableColumns; track $index) {
        <th [pSortableColumn]="col">
          {{ col | translate }}
          <p-sortIcon [field]="col"></p-sortIcon>
        </th>
        }
        <th>{{ "actions" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        @for (col of tableColumns; track $index) {
        <td>{{ rowData[col] }}</td>
        }
        <td>
          <p-button
            icon="pi pi-eye"
            [rounded]="true"
            [text]="true"
            pTooltip="View"
            tooltipPosition="top"
            (click)="viewItem(rowData.id)"
            severity="success"
          ></p-button>
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            pTooltip="Edit"
            tooltipPosition="top"
            (click)="edieItem(rowData.id)"
          ></p-button>
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            pTooltip="Delete"
            tooltipPosition="top"
            (click)="deleteItem(rowData.id)"
            severity="danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  } @else {
  <div class="p-d-flex p-flex-column p-ai-center p-my-5">
    @for (_ of [].constructor(10); track $index) {
    <p-skeleton styleClass="w-full my-4"></p-skeleton>
    }
  </div>
  }
</div>
