<div class="card">
  <p-tabs value="0" scrollable>
    <p-tablist>
      <p-tab value="0">
        <i class="pi pi-user-edit me-1"></i> {{ "profileSettings" | translate }}
      </p-tab>
      <p-tab value="1"
        ><i class="pi pi-key mx-1"></i> {{ "resetPassword" | translate }}</p-tab
      >
      <p-tab value="2"
        ><i class="pi pi-heart mx-1"></i> {{ "personalize" | translate }}</p-tab
      >
      <p-tab value="3"
        ><i class="pi pi-users mx-1"></i> {{ "userList" | translate }}</p-tab
      >
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p class="m-0">
          <app-profile-settings />
        </p>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0"><app-reset-password /></p>
      </p-tabpanel>
      <p-tabpanel value="2">
        <p class="m-0"><app-personalize /></p>
      </p-tabpanel>
      <p-tabpanel value="3">
        <p class="m-0"><app-users-list /></p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
