<div class="card">
  <p-tabs value="0">
    <p-tablist>
      <p-tab value="0"
        ><i class="pi pi-user-edit me-1"></i> Profile Settings</p-tab
      >
      <p-tab value="1"><i class="pi pi-key mx-1"></i> Reset Password</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="0">
        <p class="m-0">
          <app-profile-settings />
        </p>
      </p-tabpanel>
      <p-tabpanel value="1">
        <p class="m-0"><app-reset-password /></p>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
</div>
