<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-baseline flex-col lg:justify-between lg:flex-row">
    <div>
      <div class="font-medium text-3xl text-900">
        {{ "invoices" | translate }}
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <div class="card flex justify-center">
        <p-breadcrumb class="max-w-full" [model]="route">
          <ng-template #item let-item>
            <ng-container *ngIf="item.route; else elseBlock">
              <a
                [routerLink]="item.route"
                class="p-breadcrumb-item-link"
                [queryParams]="item.queryParams"
              >
                <span
                  [ngClass]="[item.icon ? item.icon : '', 'text-color']"
                ></span>
                <span class="text-dark">{{ item.label | translate }}</span>
              </a>
            </ng-container>
            <ng-template #elseBlock>
              <a [href]="item.url">
                <span class="text-color">{{ item.label | translate }}</span>
              </a>
            </ng-template>
          </ng-template>
        </p-breadcrumb>
      </div>
    </div>
  </div>
</div>

<form class="max-w-full mx-auto" [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="grid grid-cols-2 gap-5">
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="name"
        autocomplete="off"
        formControlName="name"
        class="w-full"
      />
      <label for="name">{{ "name" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="supplierName"
        autocomplete="off"
        formControlName="supplierName"
        class="w-full"
      />
      <label for="supplierName">{{ "supplierName" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-3 gap-5">
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="invoice_number"
        autocomplete="off"
        formControlName="invoice_number"
        class="w-full"
      />
      <label for="invoice_number">{{ "invoice_number" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="discount_invoice"
        autocomplete="off"
        formControlName="discount_invoice"
        class="w-full"
      />
      <label for="discount_invoice">{{ "discount_invoice" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="net_invoice"
        autocomplete="off"
        formControlName="invoice_date"
        class="w-full"
      />
      <label for="net_invoice">{{ "تاريخ الفاتورة" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-5 gap-5">
    <div class="md:col-span-1 col-span-3 my-2 bg-gray m-auto p-5 rounded-md">
      <label class="text-md font-bold" for="total_invoice">{{
        "total_invoice" | translate
      }}</label>
      <p>550000,30</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray m-auto p-5 rounded-md">
      <label class="text-md font-bold" for="net_invoice">{{
        "net_invoice" | translate
      }}</label>
      <p>550000,30</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray m-auto p-5 rounded-md">
      <label class="text-md font-bold" for="boxQnt">{{
        "boxQnt" | translate
      }}</label>
      <p>550000,30</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray m-auto p-5 rounded-md">
      <label class="text-md font-bold" for="totalCBM">{{
        "totalCBM" | translate
      }}</label>
      <p>550000,30</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray m-auto p-5 rounded-md">
      <label class="text-md font-bold" for="totalWeight">{{
        "totalWeight" | translate
      }}</label>
      <p>550000,30</p>
    </div>
  </div>

  <div class="grid md:grid-cols-6 grid-cols-1 gap-5">
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="firstBatchNumber"
        autocomplete="off"
        formControlName="firstBatchNumber"
        class="w-full"
      />
      <label for="firstBatchNumber">{{ "firstBatchNumber" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="firstBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="firstBatchDate"
      />
      <label for="date">{{ "firstBatchDate" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="secondBatchNumber"
        autocomplete="off"
        formControlName="secondBatchNumber"
        class="w-full"
      />
      <label for="secondBatchNumber">{{
        "secondBatchNumber" | translate
      }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="secondBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="secondBatchDate"
      />
      <label for="date">{{ "secondBatchDate" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="thirdBatchNumber"
        autocomplete="off"
        formControlName="thirdBatchNumber"
        class="w-full"
      />
      <label for="thirdBatchNumber">{{ "thirdBatchNumber" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="thirdBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="thirdBatchDate"
      />
      <label for="date">{{ "thirdBatchDate" | translate }}</label>
    </p-floatlabel>
  </div>

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="min-w-full inline-block align-middle">
        <div class="flex flex-row align-baseline justify-between">
          <h1 class="text-2xl">{{ "invoices" | translate }}</h1>
          <p-button
            icon="pi pi-plus-circle"
            severity="info"
            pTooltip="Add new Item"
            tooltipPosition="top"
            [label]="'add' | translate"
            class="m-2"
            (onClick)="addItem()"
          ></p-button>
        </div>
        <div class="overflow-x-scroll border rounded-lg border-gray-300">
          <div formArrayName="items">
            <table class="min-w-full rounded-xl">
              <thead>
                <tr class="bg-gray">
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "number" | translate }}<span class="text-danger">*</span>
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "container" | translate
                    }}<span class="text-danger">*</span>
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "item" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "desorption" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "boxQnt" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "qunNumber" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "price" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "total_price" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "CBM_store" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "CBM_height" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "CBM_width" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "CBM_length" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "total_CBM" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "weight" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "total_weight" | translate }}
                  </th>
                  <th
                    scope="col"
                    class="p-5 text-left text-sm leading-6 font-semibold text-gray-900 capitalize"
                  >
                    {{ "ACTIONS" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-300">
                @for (itemLine of itemsFormArray.controls; track $index) {
                <ng-container>
                  <tr [formGroupName]="$index" class="table_row">
                    <td>
                      <p class="text-center">
                        {{ $index + 1 }}
                      </p>
                    </td>
                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="container"
                        autocomplete="off"
                        formControlName="container"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="item"
                        autocomplete="off"
                        formControlName="item"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="desorption"
                        autocomplete="off"
                        formControlName="desorption"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="boxQnt"
                        autocomplete="off"
                        formControlName="boxQnt"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="qunNumber"
                        autocomplete="off"
                        formControlName="qunNumber"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="price"
                        autocomplete="off"
                        formControlName="price"
                        class="w-full"
                      />
                    </td>

                    <td>
                      <input
                        pInputText
                        id="total_price"
                        autocomplete="off"
                        formControlName="total_price"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="CBM_store"
                        autocomplete="off"
                        formControlName="CBM_store"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="CBM_height"
                        autocomplete="off"
                        formControlName="CBM_height"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <input
                        pInputText
                        id="CBM_width"
                        autocomplete="off"
                        formControlName="CBM_width"
                        class="w-full"
                      />
                    </td>

                    <td>
                      <input
                        pInputText
                        id="CBM_length"
                        autocomplete="off"
                        formControlName="CBM_length"
                        class="w-full"
                      />
                    </td>
                    <td>
                      <input
                        pInputText
                        id="total_CBM"
                        autocomplete="off"
                        formControlName="total_CBM"
                        class="w-full"
                      />
                    </td>

                    <td>
                      <input
                        pInputText
                        id="weight"
                        autocomplete="off"
                        formControlName="weight"
                        class="w-full"
                      />
                    </td>

                    <td>
                      <input
                        pInputText
                        id="total_weight"
                        autocomplete="off"
                        formControlName="total_weight"
                        class="w-full"
                      />
                    </td>

                    <td
                      class="p-5 whitespace-nowrap text-sm leading-6 font-medium text-wight"
                    >
                      <p-button
                        icon="pi pi-trash"
                        pTooltip="Delete Item"
                        tooltipPosition="top"
                        severity="warn"
                        rounded
                        text
                        (onClick)="deleteFormLine($index)"
                      ></p-button>
                    </td>
                  </tr>
                </ng-container>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="m-2">
    <p-button
      class="!text-xs"
      [label]="'save' | translate"
      [raised]="true"
      type="submit"
    />
    <p-button
      class="!text-xs mx-2"
      [label]="'clear' | translate"
      [raised]="true"
      severity="contrast"
      type="button"
      (onClick)="reset(form)"
    />
  </div>
</form>
