<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <div class="flex align-baseline flex-col lg:justify-between lg:flex-row">
    <div>
      <div class="font-medium text-3xl text-900">
        {{ "invoices" | translate }}
      </div>
    </div>
    <div class="mt-3 lg:mt-0">
      <div class="card flex justify-center">
        <p-breadcrumb class="max-w-full" [model]="route">
          <ng-template #item let-item>
            <ng-container *ngIf="item.route; else elseBlock">
              <a
                [routerLink]="item.route"
                class="p-breadcrumb-item-link"
                [queryParams]="item.queryParams"
              >
                <span
                  [ngClass]="[item.icon ? item.icon : '', 'text-color']"
                ></span>
                <span class="text-dark">{{ item.label | translate }}</span>
              </a>
            </ng-container>
            <ng-template #elseBlock>
              <a [href]="item.url">
                <span class="text-color">{{ item.label | translate }}</span>
              </a>
            </ng-template>
          </ng-template>
        </p-breadcrumb>
      </div>
    </div>
  </div>
</div>
@if ((invoiceId && isUpdate)|| (!invoiceId && !isUpdate)) {
<form
  class="max-w-full mx-auto bg-white p-6 rounded-lg shadow-md"
  [formGroup]="form"
  (ngSubmit)="submit(form)"
>
  <div class="grid grid-cols-3 gap-5">
    <p-floatlabel class="md:col-span-1 sm:col-span-3 my-2" variant="on">
      <p-select
        id="name"
        [options]="listOfCustomers()"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        styleClass="w-full"
        formControlName="customer"
      />
      <label for="name">{{ "name" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel class="md:col-span-1 sm:col-span-3 my-2" variant="on">
      <p-select
        id="supplier"
        [options]="listOfSuppliers()"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        styleClass="w-full"
        formControlName="supplier"
      />
      <label for="supplier">{{ "supplierName" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel class="md:col-span-1 sm:col-span-3 my-2" variant="on">
      <p-select
        id="item_category"
        [options]="listOfItems()"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        styleClass="w-full"
        formControlName="item_category"
      />
      <label for="item_category">{{ "item_category" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-3 gap-5">
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="invoice_number"
        autocomplete="off"
        formControlName="invoice_number"
        class="w-full"
      />
      <label for="invoice_number">{{ "invoice_number" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="discount_invoice"
        autocomplete="off"
        formControlName="discount_amount"
        class="w-full"
      />
      <label for="discount_invoice">{{ "discount_invoice" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="invoiceDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="invoice_date"
      />
      <label for="invoiceDate">{{ "invoiceDate" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-5 gap-5">
    <div class="md:col-span-1 col-span-3 my-2 bg-gray-100 p-4 rounded-md">
      <label class="text-md font-bold" for="total_invoice">{{
        "total_invoice" | translate
      }}</label>
      <p>{{ form.get("total_amount")?.value }}</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray-100 p-4 rounded-md">
      <label class="text-md font-bold" for="discount_amount">{{
        "discount_amount" | translate
      }}</label>
      <p>{{ form.get("discount_amount")?.value }}</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray-100 p-4 rounded-md">
      <label class="text-md font-bold" for="boxQnt">{{
        "boxQnt" | translate
      }}</label>
      <p>{{ form.get("total_boxes")?.value }}</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray-100 p-4 rounded-md">
      <label class="text-md font-bold" for="totalCBM">{{
        "totalCBM" | translate
      }}</label>
      <p>{{ form.get("total_cbm")?.value }}</p>
    </div>
    <div class="md:col-span-1 col-span-3 my-2 bg-gray-100 p-4 rounded-md">
      <label class="text-md font-bold" for="totalWeight">{{
        "totalWeight" | translate
      }}</label>
      <p>{{ form.get("total_weight")?.value }}</p>
    </div>
  </div>

  <div class="grid md:grid-cols-4 grid-cols-1 gap-5">
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="firstBatchNumber"
        autocomplete="off"
        formControlName="first_payment_amount"
        class="w-full"
      />
      <label for="firstBatchNumber">{{ "firstBatchNumber" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="firstBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="first_payment_date"
      />
      <label for="date">{{ "firstBatchDate" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="secondBatchNumber"
        autocomplete="off"
        formControlName="second_payment_amount"
        class="w-full"
      />
      <label for="secondBatchNumber">{{
        "secondBatchNumber" | translate
      }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="secondBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="second_payment_date"
      />
      <label for="date">{{ "secondBatchDate" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="thirdBatchNumber"
        autocomplete="off"
        formControlName="third_payment_amount"
        class="w-full"
      />
      <label for="thirdBatchNumber">{{ "thirdBatchNumber" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="thirdBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="third_payment_date"
      />
      <label for="date">{{ "thirdBatchDate" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <input
        pInputText
        id="thirdBatchNumber"
        autocomplete="off"
        formControlName="fourth_payment_amount"
        class="w-full"
      />
      <label for="thirdBatchNumber">{{
        "fourth_payment_amount" | translate
      }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-3 my-2">
      <p-datepicker
        inputId="thirdBatchDate"
        showIcon
        iconDisplay="input"
        styleClass="w-full"
        formControlName="fourth_payment_date"
      />
      <label for="date">{{ "fourth_payment_date" | translate }}</label>
    </p-floatlabel>
  </div>

  <div class="flex flex-col">
    <div class="overflow-x-auto">
      <div class="min-w-full inline-block align-middle">
        <div class="flex flex-row align-baseline justify-between">
          <p-button
            icon="pi pi-plus-circle"
            severity="info"
            pTooltip="Add new Item"
            tooltipPosition="top"
            class="m-2"
            (onClick)="addItem()"
          ></p-button>
        </div>
        <div class="overflow-x-auto border rounded-lg border-gray-300 mt-4">
          <div formArrayName="invoice_lines">
            <table
              class="min-w-full divide-y divide-gray-200 rounded-xl shadow-sm"
            >
              <thead>
                <tr
                  class="bg-primary text-white uppercase tracking-wider text-left text-xs leading-4 font-medium"
                >
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "number" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "container" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "item" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "desorption" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "boxQnt" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "qunNumber" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "price" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "total_price" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "CBM_store" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "CBM_height" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "CBM_width" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "CBM_length" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "total_CBM" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "weight" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "total_weight" | translate }}
                  </th>
                  <th scope="col" class="px-6 py-3 text-center">
                    {{ "ACTIONS" | translate }}
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                @for (itemLine of invoice_linesFormArray.controls; track $index)
                {
                <ng-container>
                  <tr [formGroupName]="$index" class="hover:bg-gray-50">
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                    >
                      {{ $index + 1 }}
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="container"
                        autocomplete="off"
                        formControlName="container_sequence"
                        class="w-full"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="item"
                        autocomplete="off"
                        formControlName="item_code"
                        pSize="small"
                        style="width: 200px !important"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="desorption"
                        autocomplete="off"
                        formControlName="item_description"
                        style="width: 300px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="boxQnt"
                        autocomplete="off"
                        formControlName="box_count"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="qunNumber"
                        autocomplete="off"
                        formControlName="item_in_box"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="price"
                        autocomplete="off"
                        formControlName="item_price"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="total_price"
                        autocomplete="off"
                        formControlName="total_price"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="CBM_store"
                        autocomplete="off"
                        formControlName="store_cbm"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="CBM_height"
                        autocomplete="off"
                        formControlName="height"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="CBM_width"
                        autocomplete="off"
                        formControlName="width"
                        style="width: 75px !important"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="CBM_length"
                        autocomplete="off"
                        formControlName="length"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="total_CBM"
                        autocomplete="off"
                        formControlName="total_CBM"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="weight"
                        autocomplete="off"
                        formControlName="weight"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <input
                        pInputText
                        id="total_weight"
                        autocomplete="off"
                        formControlName="total_weight"
                        style="width: 75px !important"
                        pSize="small"
                      />
                    </td>
                    <td
                      class="px-6 py-4 whitespace-nowrap text-sm leading-5 font-medium text-gray-900"
                    >
                      <p-button
                        icon="pi pi-trash"
                        pTooltip="Delete Item"
                        tooltipPosition="top"
                        severity="warn"
                        rounded
                        text
                        (onClick)="deleteFormLine($index)"
                      ></p-button>
                    </td>
                  </tr>
                </ng-container>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-2">
    <p-button
      class="!text-xs"
      [label]="'save' | translate"
      [raised]="true"
      type="submit"
    />
    <p-button
      class="!text-xs mx-2"
      [label]="'clear' | translate"
      [raised]="true"
      severity="contrast"
      type="button"
      (onClick)="reset(form)"
    />
  </div>
</form>
}@if(invoiceId && !isUpdate){
<div class="surface-section px-4 py-5 md:px-6 lg:px-8">
  <p-card header="{{ 'invoiceDetails' | translate }}" styleClass="mb-4">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>
        <div class="font-bold text-gray-700">
          {{ "invoiceNumber" | translate }}:
        </div>
        <div>{{ invoiceData.invoice_number }}</div>
      </div>
      <div>
        <div class="font-bold text-gray-700">{{ "date" | translate }}:</div>
        <div>{{ invoiceData.invoice_date }}</div>
      </div>
      <div>
        <div class="font-bold text-gray-700">{{ "customer" | translate }}:</div>
        <div>{{ invoiceData.customer }}</div>
      </div>
      <div>
        <div class="font-bold text-gray-700">{{ "supplier" | translate }}:</div>
        <div>{{ invoiceData.supplier }}</div>
      </div>
      <div>
        <div class="font-bold text-gray-700">
          {{ "discount_invoice" | translate }}:
        </div>
        <div>{{ invoiceData.discount_amount }}</div>
      </div>
      <div>
        <div class="font-bold text-gray-700">
          {{ "net_invoice" | translate }}:
        </div>
        <div>{{ invoiceData.net_amount }}</div>
      </div>
    </div>
    <!-- <div class="flex justify-content-end">
      <button
        onclick="window.print()"
        class="bg-primary text-white px-4 py-2 rounded"
      >
        Print
      </button>
    </div> -->
  </p-card>

  <p-card header="{{ 'invoiceLines' | translate }}">
    <p-table
      [value]="invoiceData.invoice_lines"
      responsiveLayout="scroll"
      showGridlines
      stripedRows
    >
      <ng-template pTemplate="header">
        <tr>
          <th>{{ "number" | translate }}</th>
          <th>{{ "container" | translate }}</th>
          <th>{{ "item" | translate }}</th>
          <th>{{ "desorption" | translate }}</th>
          <th>{{ "boxQnt" | translate }}</th>
          <th>{{ "qunNumber" | translate }}</th>
          <th>{{ "price" | translate }}</th>
          <th>{{ "CBM_store" | translate }}</th>
          <th>{{ "CBM_height" | translate }}</th>
          <th>{{ "CBM_width" | translate }}</th>
          <th>{{ "CBM_length" | translate }}</th>
          <th>{{ "weight" | translate }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ item.container_sequence }}</td>
          <td>{{ item.item_code }}</td>
          <td>{{ item.item_description }}</td>
          <td>{{ item.box_count }}</td>
          <td>{{ item.item_in_box }}</td>
          <td>{{ item.item_price }}</td>
          <td>{{ item.store_cbm }}</td>
          <td>{{ item.height }}</td>
          <td>{{ item.width }}</td>
          <td>{{ item.length }}</td>
          <td>{{ item.weight }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>
</div>
}
