<div class="p-4 shadow-2 border-round w-full">
  <div class="text-center mb-5">
    <div class="text-900 text-3xl font-medium mb-3">
      {{ "welcome" | translate }}
    </div>
    <span class="text-600 font-medium line-height-3">{{
      "haveAccount" | translate
    }}</span>
    <a
      class="font-medium no-underline ml-2 text-secondary cursor-pointer"
      [routerLink]="ROUTES.LOGIN"
      >{{ "signin" | translate }}!</a
    >
  </div>

  <form [formGroup]="form" (ngSubmit)="submit(form)">
    <label for="email1" class="block text-900 font-medium mb-2">{{
      "email" | translate
    }}</label>
    <input
      id="email1"
      type="text"
      placeholder="Email address"
      pInputText
      class="w-full mb-3"
      formControlName="email"
    />
    @if (form.get('email')?.errors) {
    <p-message severity="error" variant="simple" size="small">{{
      "requeridInput" | translate
    }}</p-message>
    }
    <div class="grid grid-cols-2 gap-1 mb-3">
      <div class="col-span-1">
        <label class="block text-900 font-medium mb-2">{{
          "password" | translate
        }}</label>
        <p-password
          autocomplete="true"
          [toggleMask]="true"
          [feedback]="true"
          formControlName="password"
        />
        @if (form.get('password')?.errors) {
        <p-message severity="error" variant="simple" size="small">{{
          "requeridInput" | translate
        }}</p-message>
        }
      </div>
      <div class="col-span-1">
        <label class="block text-900 font-medium mb-2">{{
          "confirmPassword" | translate
        }}</label>
        <p-password
          autocomplete="true"
          [toggleMask]="true"
          [feedback]="true"
          formControlName="confirm_password"
        />
        @if (form.get('confirm_password')?.errors) {
        <p-message severity="error" variant="simple" size="small">{{
          "requeridInput" | translate
        }}</p-message>
        }
      </div>
    </div>

    <button
      pButton
      pRipple
      [label]="'signin' | translate"
      icon="pi pi-user-plus"
      class="w-full !bg-primary"
      type="submit"
      [routerLink]="ROUTES.LOGIN"
    ></button>
  </form>
</div>
