<form
  [formGroup]="form"
  (ngSubmit)="submit(form)"
  class="max-w-md mx-auto my-10 grid gap-5 grid-cols-2"
>
  <div class="col-span-2">
    <label class="block text-900 font-medium mb-2">{{
      "currentPassword" | translate
    }}</label>
    <p-password
      autocomplete="true"
      [toggleMask]="true"
      [feedback]="true"
      formControlName="old_password"
    />
  </div>

  <div class="col-span-2">
    <label class="block text-900 font-medium mb-2">{{
      "newPassword" | translate
    }}</label>
    <p-password
      autocomplete="true"
      [toggleMask]="true"
      [feedback]="true"
      formControlName="new_password"
    />
  </div>

  <div class="col-span-2">
    <label class="block text-900 font-medium mb-2">{{
      "confirmPassword" | translate
    }}</label>
    <p-password
      autocomplete="true"
      [toggleMask]="true"
      [feedback]="true"
      formControlName="confirm_password"
    />
  </div>
  <button
    pButton
    pRipple
    [label]="'save' | translate"
    icon="pi pi-check"
    class="w-full !bg-primary mt-10 col-span-2"
    type="submit"
  ></button>
</form>
