<form [formGroup]="form" (ngSubmit)="submit(form)" class="max-w-3xl mx-auto">
  <label class="block text-900 font-medium mb-2">Current Password</label>
  <p-password
    autocomplete="true"
    [toggleMask]="true"
    [feedback]="true"
    formControlName="current_password"
  />
  <label class="block text-900 font-medium mb-2">New Password</label>
  <p-password
    autocomplete="true"
    [toggleMask]="true"
    [feedback]="true"
    formControlName="new_password"
  />

  <label class="block text-900 font-medium mb-2">Confirm New Password</label>
  <p-password
    autocomplete="true"
    [toggleMask]="true"
    [feedback]="true"
    formControlName="confirm_new_password"
  />

  <button
    pButton
    pRipple
    label="Save"
    icon="pi pi-check"
    class="w-full !bg-primary mt-10"
    type="submit"
  ></button>
</form>
