<div class="flex items-center justify-between px-3 mb-4">
  <h1 class="font-semibold text-4xl px-4 py-5 md:px-6 lg:px-8">
    {{ "INVOICES_LIST" | translate }}
  </h1>
</div>

<div class="mat-elevation-z8 overflow-x-auto">
  <p-toolbar class="my-4 w-full">
    <ng-template #center>
      <div class="flex flex-row align-baseline justify-around">
        <form
          [formGroup]="filterForm"
          class="grid md:grid-cols-4 sm:grid-cols-1 gap-5"
        >
          <p-floatlabel variant="on" class="col-span-1">
            <input pInputText id="user_name" formControlName="customer_name" />
            <label for="user_name">{{ "name" | translate }}</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="col-span-1">
            <input
              pInputText
              id="supplier_name"
              formControlName="supplier_name"
            />
            <label for="supplier_name">{{ "SUPPLIER_NAME" | translate }}</label>
          </p-floatlabel>

          <p-floatlabel variant="on" class="col-span-1">
            <input
              pInputText
              id="invoiceNumber"
              formControlName="invoice_number"
            />
            <label for="invoiceNumber">{{ "invoiceNumber" | translate }}</label>
          </p-floatlabel>
        </form>
      </div>
    </ng-template>

    <ng-template #end>
      <button
        pButton
        pRipple
        [label]="'search' | translate"
        class="!bg-primary !border-primary me-2"
        (click)="applayFilter()"
      ></button>
      @if
      (userPermissionService.userPermissions()?.permissions?.invoices?.includes('create_invoices'))
      {
      <button
        pButton
        pRipple
        [label]="'add' | translate"
        icon="pi pi-plus"
        class="!bg-secondary !border-secondary"
        [routerLink]="main_routes.invoices"
      ></button>
      }
    </ng-template>
  </p-toolbar>

  @if (!isLoading) {
  <p-table
    [value]="dataSource"
    [paginator]="true"
    [rowsPerPageOptions]="[10, 20, 50]"
    [sortMode]="'single'"
    class="w-full"
    [rows]="rows"
    [totalRecords]="totalRecords"
    [first]="first"
    (onPage)="onPageChange($event)"
    [lazy]="true"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        @for (col of tableColumns; track $index) {
        <th [pSortableColumn]="col">
          {{ col | translate }}
          <p-sortIcon [field]="col"></p-sortIcon>
        </th>
        }
        <th>{{ "actions" | translate }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr>
        @for (col of tableColumns; track $index) {
        <td>
          {{ rowData[col] }}
        </td>
        }
        <td>
          @if
          (userPermissionService.userPermissions()?.permissions?.invoices?.includes('view_invoices'))
          {
          <p-button
            icon="pi pi-eye"
            [rounded]="true"
            [text]="true"
            pTooltip="View"
            tooltipPosition="top"
            (click)="viewInvoice(rowData.id)"
            severity="success"
            class="mx-1"
          ></p-button>
          } @if
          (userPermissionService.userPermissions()?.permissions?.invoices?.includes('edit_invoices'))
          {
          <p-button
            icon="pi pi-pencil"
            [rounded]="true"
            [text]="true"
            severity="info"
            pTooltip="Edit"
            tooltipPosition="top"
            (click)="editInvoice(rowData.id)"
            class="mx-1"
          ></p-button>
          } @if
          (userPermissionService.userPermissions()?.permissions?.invoices?.includes('delete_invoices'))
          {
          <p-button
            icon="pi pi-trash"
            [rounded]="true"
            [text]="true"
            pTooltip="Delete"
            tooltipPosition="top"
            (click)="deleteInvoice(rowData.id)"
            severity="danger"
            class="mx-1"
          ></p-button>

          }
        </td>
      </tr>
    </ng-template>
  </p-table>
  } @else { @for (_ of [].constructor(10); track $index) {
  <p-skeleton styleClass="w-full my-4"></p-skeleton>
  } }
</div>
