<page-header
  [withBreadCrumb]="false"
  [title]="'SHIPPING_DATA' | translate"
  [route]="route"
/>

@if ((shippingId && isUpdate)|| (!shippingId && !isUpdate)) {
<form class="max-w-3xl mx-auto" [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="grid grid-cols-4 gap-5">
    <p-floatlabel class="md:col-span-2 sm:col-span-4 my-2">
      <p-select
        [options]="listOfCustomers()"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        class="w-full"
        formControlName="name"
      >
      </p-select>
      @if (form.get('name')?.hasError('required') && form.get('name')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="customer">{{ "name" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="Container"
        autocomplete="off"
        formControlName="containerSequence"
        class="w-full"
      />
      @if (form.get('containerSequence')?.hasError('required') &&
      form.get('containerSequence')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="Container">{{ "containerSequance" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="number"
        autocomplete="off"
        class="w-full"
        formControlName="containerNumber"
      />
      @if (form.get('containerNumber')?.hasError('required') &&
      form.get('containerNumber')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="number">{{ "containerNumber" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <p-datepicker
        inputId="date"
        showIcon
        iconDisplay="input"
        formControlName="ShippingDate"
        styleClass="w-full"
      />
      @if (form.get('ShippingDate')?.hasError('required') &&
      form.get('ShippingDate')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="date">{{ "ShippingDate" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="port"
        autocomplete="off"
        formControlName="port"
        class="w-full"
      />
      <label for="port">{{ "port" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="customs_cost"
        autocomplete="off"
        formControlName="customs_cost"
        class="w-full"
      />
      <label for="customs_cost">{{ "customs_cost" | translate }} EGP</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="land_shipping_cost"
        autocomplete="off"
        formControlName="land_shipping_cost"
        class="w-full"
      />
      <label for="land_shipping_cost">{{
        "land_shipping_cost" | translate
      }} RMB</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="sea_shipping_cost"
        autocomplete="off"
        formControlName="sea_shipping_cost"
        class="w-full"
      />
      <label for="sea_shipping_cost">{{
        "sea_shipping_cost" | translate
      }} USD</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="usd_exchange_rate"
        autocomplete="off"
        formControlName="usd_exchange_rate"
        class="w-full"
      />
      <label for="usd_exchange_rate">{{
        "usd_exchange_rate" | translate
      }} {{ "to EGP" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="rmb_exchange_rate"
        autocomplete="off"
        formControlName="rmb_exchange_rate"
        class="w-full"
      />
      <label for="rmb_exchange_rate">{{
        "rmb_exchange_rate" | translate
      }} {{ "to EGP" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="col-span-4">
      <textarea
        pTextarea
        id="description"
        rows="5"
        cols="30"
        class="h-full w-full"
        formControlName="description"
      ></textarea>
      <label for="description">{{ "description" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-4">
    <p-button
      class="md:col-span-2 sm:col-span-4 my-2 !text-xs"
      [label]="'save' | translate"
      [raised]="true"
      type="submint"
    />
    <p-button
      class="md:col-span-2 sm:col-span-4 my-2 !text-xs"
      [label]="'clear' | translate"
      [raised]="true"
      severity="contrast"
      type="button"
      (onClick)="reset(form)"
    />
  </div>
</form>
}@if (shippingId && !isUpdate) {
<div class="grid grid-cols-4 gap-5">
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "name" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.customer }}
    </p>
  </div>
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "amount" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.container_number }}
    </p>
  </div>
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "containerNumber" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.container_sequence }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "expenseDate" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.shipping_date | date : "dd/MM/yyyy" }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">
      {{ "land_shipping_cost" | translate }}:
    </h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.land_shipping_cost }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">
      {{ "sea_shipping_cost" | translate }}:
    </h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.sea_shipping_cost }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "customs_cost" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.customs_cost }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">
      {{ "usd_exchange_rate" | translate }}:
    </h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.usd_exchange_rate }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">
      {{ "rmb_exchange_rate" | translate }}:
    </h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.rmb_exchange_rate }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "description" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.port_name }}
    </p>
  </div>
</div>
}
