<page-header [withBreadCrumb]="false" [title]="'shippingData' | translate" [route]="route"/>

@if ((shippingId && isUpdate)|| (!shippingId && !isUpdate)) {
<form class="max-w-3xl mx-auto" [formGroup]="form" (ngSubmit)="submit(form)">
  <div class="grid grid-cols-4 gap-5">
    <p-floatlabel class="md:col-span-2 sm:col-span-4 my-2">
      <p-select
        [options]="listOfCustomers()"
        optionLabel="name"
        [filter]="true"
        filterBy="name"
        [showClear]="true"
        class="w-full"
        formControlName="name"
      >
      </p-select>
      <label for="customer">{{ "name" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="Container"
        autocomplete="off"
        formControlName="containerSequence"
        class="w-full"
      />
      <label for="Container">{{ "containerSequance" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="number"
        autocomplete="off"
        class="w-full"
        formControlName="containerNumber"
      />
      <label for="number">{{ "containerNumber" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 sm:col-span-4 my-2">
      <p-datepicker
        inputId="date"
        showIcon
        iconDisplay="input"
        formControlName="ShippingDate"
        styleClass="text-xs"
      />
      <label for="date">{{ "ShippingDate" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-2 sm:col-span-4 my-2">
      <input
        pInputText
        id="port"
        autocomplete="off"
        formControlName="port"
        class="w-full"
      />
      <label for="port">{{ "port" | translate }}</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="col-span-4">
      <textarea
        pTextarea
        id="description"
        rows="5"
        cols="30"
        class="h-full w-full"
        formControlName="description"
      ></textarea>
      <label for="description">{{ "description" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-4">
    <p-button
      class="md:col-span-2 sm:col-span-4 my-2 !text-xs"
      [label]="'save' | translate"
      [raised]="true"
      type="submint"
    />
    <p-button
      class="md:col-span-2 sm:col-span-4 my-2 !text-xs"
      [label]="'clear' | translate"
      [raised]="true"
      severity="contrast"
      type="button"
      (onClick)="reset(form)"
    />
  </div>
</form>
}@if (shippingId && !isUpdate) {
<div class="grid grid-cols-4 gap-5">
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "name" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.customer }}
    </p>
  </div>
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "amount" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.container_number }}
    </p>
  </div>
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "containerNumber" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.container_sequence }}
    </p>
  </div>

  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "expenseDate" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.shipping_date | date : "dd/MM/yyyy" }}
    </p>
  </div>
  <div class="col-span-2 flex flex-row align-baseline justify-start">
    <h2 class="me-2 font-bold text-xl">{{ "description" | translate }}:</h2>
    <p class="text-base text-md mt-1">
      {{ shippingData.port_name }}
    </p>
  </div>
</div>
}
