<page-header
  [withBreadCrumb]="false"
  [title]="'CUSTOMER_FORM' | translate"
  [route]="route"
/>

<form
  class="max-w-3xl mx-auto"
  [formGroup]="userForm"
  (ngSubmit)="submitForm()"
>
  <div class="grid grid-cols-2 gap-5">
    <p-floatlabel variant="on" class="md:col-span-1 col-span-2 my-2">
      <input
        pInputText
        id="first_name"
        autocomplete="off"
        formControlName="first_name"
        class="w-full"
      />
      @if (userForm.get('first_name')?.hasError('required') &&
      userForm.get('first_name')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="first_name">{{ "first_name" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-2 my-2">
      <input
        pInputText
        id="last_name"
        autocomplete="off"
        formControlName="last_name"
        class="w-full"
      />
      @if (userForm.get('last_name')?.hasError('required') &&
      userForm.get('last_name')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="last_name">{{ "last_name" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-2 my-2">
      <input
        pInputText
        id="email"
        autocomplete="off"
        formControlName="email"
        class="w-full"
      />
      @if (userForm.get('email')?.hasError('required') &&
      userForm.get('email')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="email">{{ "email" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel variant="on" class="md:col-span-1 col-span-2 my-2">
      <input
        pInputText
        id="username"
        autocomplete="off"
        formControlName="username"
        class="w-full"
      />@if (userForm.get('username')?.hasError('required') &&
      userForm.get('username')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="username">{{ "user_name" | translate }}</label>
    </p-floatlabel>
    <p-floatlabel class="md:col-span-1 sm:col-span-3 my-2" variant="on">
      <p-select
        id="fiscal_year"
        [options]="listOfYears()"
        optionLabel="name"
        optionValue="id"
        [filter]="true"
        [showClear]="true"
        styleClass="w-full"
        formControlName="fiscal_year"
      />@if (userForm.get('fiscal_year')?.hasError('required') &&
      userForm.get('fiscal_year')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="fiscal_year">{{ "FISCAL_YEAR_NAME" | translate }}</label>
    </p-floatlabel>

    @if (isUpdate !== 'true') {
    <p-floatlabel variant="on" class="md:col-span-1 col-span-2 my-2">
      <p-password
        formControlName="password"
        [feedback]="false"
        [toggleMask]="true"
      />@if (userForm.get('password')?.hasError('required') &&
      userForm.get('password')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="password">{{ "password" | translate }}</label>
    </p-floatlabel>
    }
    <p-floatlabel
      variant="on"
      [ngClass]="
        isUpdate == 'true'
          ? 'md:col-span-1 col-span-2'
          : 'md:col-span-2 col-span-2'
      "
      class="my-2"
    >
      <p-select
        [options]="userTypes"
        formControlName="user_type"
        optionLabel="label"
        [filter]="true"
        optionValue="value"
        filterBy="label"
        class="w-full"
      ></p-select>
      @if (userForm.get('user_type')?.hasError('required') &&
      userForm.get('user_type')?.dirty) {
      <p-message severity="error" variant="simple" size="small">{{
        "requeridInput" | translate
      }}</p-message
      >}
      <label for="user_type">{{ "user_type" | translate }}</label>
    </p-floatlabel>
  </div>
  <div class="grid grid-cols-2">
    <p-button
      class="md:col-span-1 sm:col-span-2 my-2 !text-xs"
      [label]="'save' | translate"
      [raised]="true"
      type="submit"
    />
    <p-button
      class="md:col-span-1 sm:col-span-2 my-2 !text-xs"
      [label]="'clear' | translate"
      [raised]="true"
      severity="contrast"
      type="button"
      (onClick)="resetForm()"
    />
  </div>
</form>
