<p-drawer
  #drawerRef
  [(visible)]="visible"
  [blockScroll]="true"
  [closable]="false"
  styleClass="p-drawer-custom"
  class="h-full overflow-y-auto !md:hidden !sm:inline-block"
>
  <app-sidebar></app-sidebar>
</p-drawer>
<p-button
  (click)="visible = true"
  icon="pi pi-bars"
  class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
/>

<aside
  id="default-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
  aria-label="Sidebar"
>
  <div class="overflow-y-auto my-auto">
    <app-sidebar></app-sidebar>
  </div>
</aside>

<div class="p-4 sm:ml-64">
  <div
    class="p-4 border-2 border-primary border-dashed rounded-lg dark:border-gray-700"
  >
    <router-outlet></router-outlet>
  </div>
</div>
