<section>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
    <p-floatlabel class="w-full md:w-56" variant="on">
      <p-select
        inputId="lang"
        [options]="languagesList"
        optionLabel="name"
        class="w-full md:w-56"
        [(ngModel)]="selectedLanguage"
        (onChange)="changeLang()"
        >
        <ng-template #selectedItem let-selectedOption>
          @if (selectedOption) {
            <div class="flex items-center gap-2">
              <img [src]="selectedOption.flag" style="width: 18px" />
              <div>{{ selectedOption.name | translate }}</div>
            </div>
          }
        </ng-template>
        <ng-template let-country #item>
          <div class="flex items-center gap-2">
            <img [src]="country.flag" style="width: 18px" />
            <div>{{ country.name | translate }}</div>
          </div>
        </ng-template>
        <ng-template #dropdownicon>
          <i class="pi pi-language"></i>
        </ng-template>
        <ng-template #header>
          <div class="font-medium p-3">Available Languages</div>
        </ng-template>
      </p-select>
      <label for="lang">{{ "selectLanguage" | translate }}</label>
    </p-floatlabel>
  </div>
</section>
<p-toast />
