@tailwind base;
@tailwind components;
@tailwind utilities;
@import "primeicons/primeicons.css";

.p-password-input,
.p-password {
  width: 100%;
}

.p-drawer-custom {
  .p-drawer-header {
    display: none !important;
  }
  .p-drawer-content {
    padding: 0 !important;
  }
}

.p-menu {
  width: 100% !important;
  height: 100% !important;
}
